<marquee>contact page</marquee>
<h1>
    <%=title %>
</h1>
<hr>
<p>
    <%=message %>
</p>

<h3>Name: <%=person.firstname + " " + person.lastname %>
</h3>
<address>
    Location: <%=person.location.city %>, <%=person.location.country %>
</address>